<form method="post" action="{{ path('national_program_delete', {'id': national_program.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ national_program.id) }}">
    <button class="btn">Delete</button>
</form>
