{% extends 'base.html.twig' %}

{% block title %}Слои{% endblock %}

{% block body_title %}Слои{% endblock %}
{% block table_title %}Список слоев{% endblock %}
{% block body_action_url %}{{ path('layout_new') }}{% endblock %}
{% block body_action_title %}Создать слой{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>

    </tr>
    </thead>
    <tbody>
    {% for layout in layouts %}
        <tr>
            <td><a href="{{ path('layout_edit', {'id': layout.id}) }}">{{ layout.id }}</td>
            <td>{{ layout.name}}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
