{% extends 'base.html.twig' %}

{% block title %}Велосипедные дорожки{% endblock %}

{% block body_title %}Отчет по протяженности{% endblock %}
{% block table_title %}Отчет по протяженности{% endblock %}
{% block body_action_url %}Отчет по протяженности{% endblock %}
{% block body_action_title %}Отчет по протяженности{% endblock %}
{% block table_content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'X');
            data.addColumn('number', 'Саратов');

            data.addRows(
                {{ array|json_encode|raw }}
            );

            var options = {
                hAxis: {
                    title: 'Дата'
                },
                vAxis: {
                    title: 'Протяженность велодорожек, км.'
                },
                curveType: 'function',
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}